/* estilos topo */

header{
    background-color: #f9db79;
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.container-topo{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 80%;
}

.container-topo img{
    width: 60px;

}

.links-topo{
    text-decoration: none;
    color: darkslategrey;
    padding-left: 30px;
}

@media screen and (max-width: 445px){
    .container-topo{
        flex-direction: column;

    }

    .links-topo{
        
        padding: 0;
    }

    nav{
        border-top: 1px solid darkslategrey;
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding: 10px 0;
    }
}